[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# IDE0053: Use block body for lambda expression
dotnet_diagnostic.IDE0053.severity = none
